.random_search{
    size: 50px;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination-Item-Link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 45px;
    height: 45px;
    background: #fff;
    border: solid 2px #111;
    font-size: 14px;
    color: #111;
    font-weight: bold;
    transition: all 0.15s linear;
}

.pagination-Item-Link-Icon {
    width: 20px;
}

.pagination-Item-Link.isActive {
    background: #111;
    color: #fff;
    pointer-events: none;
}

.pagination-Item-Link:not(.isActive):hover {
    background: #111;
    color: #fff;
}

.pagination>*+* {
    margin-left: 12px;
}