/*ヘッダ設定１*/
.header_inner {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

/*ヘッダ左設定*/
.header_inner_left {
    font-weight: bold;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px;
    color: rgb(218, 218, 13);
    font-size: 30px;
}

ヘッダ右設定
.header_inner_right {
    text-align: right;
    margin-top: 20px;
    color: aliceblue;
}

.main_head{
    text-align: center;
}

.form_main{
    text-align: center;
}

.form__error{
    color:rgb(227, 13, 13)
}


.form_btn{
    text-align: center;
}